nodered
[{"id":"1da54030.6f5f88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48d79040.ef4e1","type":"telegram sender","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","x":1125,"y":206.75000762939453,"wires":[[]]},{"id":"38172a9a.7a70ee","type":"change","z":"1da54030.6f5f88","name":"strip meta","rules":[{"t":"set","p":"msg_meta","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":517.5000610351562,"y":187.75,"wires":[["6627377f.4a266","e59a26f5.7a9c1"]]},{"id":"4e87b6f2.36ea38","type":"change","z":"1da54030.6f5f88","name":"add meta","rules":[{"t":"set","p":"msg_meta.content","pt":"flow","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"msg_meta","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":847.5,"y":299.75000762939453,"wires":[["48d79040.ef4e1","ea4123ca.79dce8"]]},{"id":"6627377f.4a266","type":"watson-conversation-v1","z":"1da54030.6f5f88","name":"Plant helper","workspaceid":"86d0deca-a844-4bc1-9ab0-a56b7e8041a6","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":646,"y":311.75000762939453,"wires":[["4e87b6f2.36ea38","55ac97a1.14b84","5cbb2709.87c48"]]},{"id":"8cb1c1fd.b00bc8","type":"debug","z":"1da54030.6f5f88","name":"telegram query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350.0000762939453,"y":105.75,"wires":[]},{"id":"e59a26f5.7a9c1","type":"debug","z":"1da54030.6f5f88","name":"being sent to watson assistant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":669.0000610351562,"y":73.75,"wires":[]},{"id":"55ac97a1.14b84","type":"debug","z":"1da54030.6f5f88","name":"watson assist response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":779,"y":130.75000762939453,"wires":[]},{"id":"ea4123ca.79dce8","type":"debug","z":"1da54030.6f5f88","name":"being sent to telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1109,"y":126.75000762939453,"wires":[]},{"id":"858e33bc.f8f3f8","type":"inject","z":"1da54030.6f5f88","name":"","topic":"","payload":" ethylene","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":549.4999389648438,"y":2628.7501220703125,"wires":[["ec5f08a.72456f8","7c9b9a42.1fb5a4"]]},{"id":"b38e8996.f0f998","type":"function","z":"1da54030.6f5f88","name":"","func":"msg.discoveryparams = {};\n//msg.discoveryparams.environment_id = 'system';\n//msg.discoveryparams.collection_id = 'news-en';\n//msg.nlp_query = true;\nmsg.query =  msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":711.4999389648438,"y":2709.7501220703125,"wires":[["7c9b9a42.1fb5a4"]]},{"id":"ec5f08a.72456f8","type":"watson-discovery-v1","z":"1da54030.6f5f88","name":"demo discovery","environmentname":"","environment_id":"system","collection_id":"news-en","configurationname":"","configuration_id":"","collection_name":"","count":"10","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":976.4999389648438,"y":2623.7501220703125,"wires":[["afe3a724.b2d93"]]},{"id":"afe3a724.b2d93","type":"debug","z":"1da54030.6f5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"search_results","targetType":"msg","x":1313.4999389648438,"y":2617.7501220703125,"wires":[]},{"id":"7c9b9a42.1fb5a4","type":"debug","z":"1da54030.6f5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":988.9999389648438,"y":2724.7501220703125,"wires":[]},{"id":"5cbb2709.87c48","type":"switch","z":"1da54030.6f5f88","name":"Check with Discovery?","property":"payload.output.nodes_visited[0]","propertyType":"msg","rules":[{"t":"eq","v":"Anything else","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":906.0000610351562,"y":464.75,"wires":[["efbf51ec.10b7d"],["40cf4a9c.d57564"]]},{"id":"40cf4a9c.d57564","type":"debug","z":"1da54030.6f5f88","name":"Data dump if not using Discovery","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1186,"y":521.75,"wires":[]},{"id":"dea5227a.e96898","type":"debug","z":"1da54030.6f5f88","name":"discovery result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1545.0000610351562,"y":387.75,"wires":[]},{"id":"106515cd.6d95e2","type":"debug","z":"1da54030.6f5f88","name":"discovery input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":341.75,"wires":[]},{"id":"efbf51ec.10b7d","type":"function","z":"1da54030.6f5f88","name":"","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = msg.payload.input.text\nreturn msg;","outputs":1,"noerr":0,"x":930.5000610351562,"y":381.75,"wires":[["106515cd.6d95e2","392c1c70.b58bd4"]]},{"id":"54875a05.f1a61c","type":"telegram sender","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","x":2068.5000610351562,"y":346.75,"wires":[[]]},{"id":"59e8b304.82ff5c","type":"debug","z":"1da54030.6f5f88","name":"being sent to telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2085.5000610351562,"y":289.75,"wires":[]},{"id":"392c1c70.b58bd4","type":"watson-discovery-v1","z":"1da54030.6f5f88","name":"Discovery","environmentname":"","environment_id":"eb7bd2c1-81f8-423f-a1dc-9aa5180d6b6e","collection_id":"fdff57f9-ce83-4733-9acd-e826eeec1144","configurationname":"","configuration_id":"","collection_name":"","count":"10","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":1320.5000610351562,"y":388.75,"wires":[["dea5227a.e96898","d3b0ca7b.26042"]]},{"id":"d3b0ca7b.26042","type":"function","z":"1da54030.6f5f88","name":"Format results","func":"messages = new Array()\nmessages[0] =  \"Here are a couple of passages you might find useful: \"\nnumber_of_results = Math.min(global.get(\"MAX_RESULTS\"), msg.search_results.passages.length )\nfor ( i = 0; i< number_of_results; i++){\n    \n    messages[i+1] = msg.search_results.passages[i].passage_text\n    \n}\n\nmsg.payload = messages\nreturn msg;","outputs":1,"noerr":0,"x":1428.0000610351562,"y":326.75,"wires":[["6df9a7f8.413c4"]]},{"id":"d0200808.515c9","type":"change","z":"1da54030.6f5f88","name":"add meta","rules":[{"t":"set","p":"msg_meta.content","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"msg_meta","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1885.5000610351562,"y":327.75,"wires":[["59e8b304.82ff5c","54875a05.f1a61c"]]},{"id":"3f010dec.de31ea","type":"telegram receiver","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","saveDataDir":"","x":97.35293579101562,"y":240.36764526367188,"wires":[["8cb1c1fd.b00bc8","38172a9a.7a70ee","33754a52.aa1516"],["8cb1c1fd.b00bc8"]]},{"id":"6df9a7f8.413c4","type":"split","z":"1da54030.6f5f88","name":"","splt":"\\q","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1731.0000610351562,"y":326.75,"wires":[["5506cc4e.5b3b64","d0200808.515c9"]]},{"id":"5506cc4e.5b3b64","type":"debug","z":"1da54030.6f5f88","name":"Results before meta added","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2065.0000610351562,"y":499.75,"wires":[]},{"id":"33754a52.aa1516","type":"function","z":"1da54030.6f5f88","name":"Set Max Results","func":"global.set(\"MAX_RESULTS\", 6)\n","outputs":1,"noerr":0,"x":248.125,"y":48.75,"wires":[[]]},{"id":"a5d5418c.c84ec8","type":"telegram bot","z":"","botname":"Watson_b_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]
